.header {
    grid-area: h;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 90px;

    // height: 50px;
    z-index: 100;

    &__phone {
        margin-left: 10px;
    }

    &__top {
        display: flex;
        height: 45px;
        align-items: center;
        background-image: linear-gradient(280deg, #8abce6 58%, #54a5e8);
  

       
    }

    &__bottom {
        background: #f0f0f0;
        display: flex;
        height: 45px;
        justify-content: center;

        &_link{
            display: flex;
            align-items: center;
            padding: 0 15px;
            p{
                margin-left: 8px;
            }


        }        
   
    }
}
.header-hamburger {
    display: none;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 1px;
    height: 26px;
    align-items: center;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .header-hamburger {
        display: block;
    }
}
.header-hamburger span {
    width: 25px;
    height: 2px;
    background: #000000de;
    display: block;
    position: relative;
}
.header-hamburger span:after, .header-hamburger span:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background:#000000de;
    left: 0;
}
.header-hamburger span:before {
    top: -8px;
}
.header-hamburger span:after {
    bottom: -8px;
}


